#RockNside {
@media(max-width : 375px){
	.item{
    height:auto;
		}
		#contenido-post {
			.contenedor-texto {
				font-size: 1.3em;
				text-align: justify;
			}
		}

  #section-slide-inicio{
		.titulos-banner{	
		top: 10vh;
		a{			
			font-size: 20px;
		}
	}
}
#contenido-post {
	.estilo-titulo-principal{
    h1{
			font-size: 35px;
      }
			}
		}
	}
}