#RockNside {
  #not-found{
    h2{
      font-size: 150px;
    }
    .estilo-texto-error{
      font-size: 25px;
    }
  }
  .imagen-publicidad{
    img{
      width: 100%;
      max-width: 500px;
    }
  }
  .item{
    height:500px;
  }
	#section-noticias{
		text-align: center;
	}
	 .titulos-secciones {
		 	font-family: 'Roboto Condensed', sans-serif;
		  position: absolute;
			text-align: center;
    	color: #fff;
			z-index: 100;
			top:50px;
        h1 {
          font-size: 50px;
        }
			}

  .categoria-post-home{
		top:0;
    right: 0;
    font-size: 13px;
		padding: 3px 3px;
    position: absolute;
		border: 1px solid #000;
    text-transform: uppercase;
      &.verde{
        background-color:  #25A856;
      }
      &.rojo{
        background-color: #d1394c;
      }
      &.negro{
        background-color: #020101;
      }
      &.rosado{
        background-color: #ec407a;
      }
      &.morado{
        background-color: #af39c7;
      }
      &.azulado{
        background-color: #0e7791;
      }
      a{
      color:#fff;
      }
      a:hover{
        color:#fff;
        text-decoration-color: yellow;
      }
	}

	.titulos-index-section{
    h1 {
    color:#fff;
    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;
      &.negro{
        border-bottom: 3px solid #020101;
        }
      &.rojo{
        border-bottom: 3px solid #d1394c;
      }
      &.verde{
        border-bottom: 3px solid #25A856;
      }
      &.morado{
        border-bottom: 3px solid #af39c7;
      }
      &.rosado{
        border-bottom: 3px solid #ec407a;
      }
      &.azulado{
        border-bottom: 3px solid #0e7791;
      }
      span{
        padding: 5px 10px 3px 10px;  
        &.negro{
        background: #020101;
        }
        &.rojo{
        background: #d1394c;
        }
        &.verde{
        background: #25A856;
        }
        &.morado{
        background: #af39c7;
        }
        &.rosado{
        background:  #ec407a;
        }
        &.azulado{
        background:  #0e7791;
        }
      }
    }
  }
  
  .letras-header{
    text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
  }


    #section-slide-inicio{
      .owl-nav{
        display: none;
        text-align: center;
        font-size: 20px;
      }
      .owl-dots{
        display: none;
      }
      .titulos-banner{	
        .degradado-banner;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        height: 120px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        a{
          color:#fff;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    .estilo-menu-desplegable{
      text-align: center;
      font-size: 15px;
    }

    .tamano-logo {
        width: 100%;
        max-width: 130px;
    }

    .margen-secciones-interiores {
        margin-top: 70px;
    }

    .crop {
        height:  200px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }

    .imagen-principal {
        height: 150px;
        background-size: cover;
        background-position: center center;
    }
    .text-titulo-notas {
        font-size: 1em;
		}
		.card{
			border:0;
    	border-radius: 0;
		}
    .card-text {
			font-family: 'Roboto Condensed', sans-serif;
			position: absolute;
			bottom: 0;
			text-align: left;
			color: #fff;
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
		a{
			color: #fff;
			text-decoration-color:@rojoRockNside;
		}
		p{
			font-size: 15px;
		}
	}
		
#header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	a{
		color: #fff;
	}
	.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
	}
	.navbar-toggler{
		color: #fff;
    border: 2px solid #fff;
	}
	.nav-item:hover {
		text-decoration: underline;
		a{
		color:#fff;
		}
	}
}

#section-header-banner{
    height: 100px;
    background-color: #fff;
    content: '';
		background-size: auto 100%;
		.rocknsidebanner {
    background-position: center center;
		background-repeat: repeat-x;
		background-size: cover;
}
   a{
    color:#000;
   }
}
#carouselExampleIndicators {
  .fondo-largo {
    background-color: #00000085;
    a {
      color: #fff;
      font-size: 20px;
      }
  }
  .carousel-indicators .active {
    background-color: @rojoRockNside;
  }
  .carousel-item {
    height: 500px;
    @media(max-width:767px) {
      height: 230px;
    }
  }
  .title-slider {
    text-align: center;
    position: relative;
    bottom: 250px;
    background: #00000099;
      a {
        color: #fff;
      }
      @media(max-width:767px) {
        bottom: 100px;
      }
  }
}

	.imagen-estilo-singles{
				width: 100%;
			}

    #contenido-post {
			.estilo-titulo-principal{
				margin-top:19px;
				font-weight: bold;
				text-align: center;
        font-family: 'Domine', serif;
			}
			.estilo-titulos-single{
				text-align: center;
				font-weight: bold;
        font-size: 10px;
			}
			.noticias-letrero{
        font-size: 15px;
				font-family: 'Roboto Condensed', sans-serif;
				background: #ed1c24;
				padding: 5px;
				color: #fff;
			}
      .videos-youtube {
        iframe {
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					border: 0;
        }
			}
				.estilo-comparte{
          font-size: 15px;
          font-family: 'Domine', serif;
          text-align: left;
          font-weight: bold;
				}
				.tags-estilos{
          font-size: 15px;
          font-family: 'Domine', serif;
          text-align: left;
          font-weight: bold;
          
        .estilo-tags-single {
						background-color:@rojoRockNside;
            border: 3px solid #010101;
            padding: 3px 5px;
            margin-left: 5px;
            line-height: 2.5;
            font-size: 16px;
            color: #000000;
            text-decoration: none;
        }
        .estilo-tags-single:hover {
            background: #000;
						-webkit-transition: background .5s ease-out;
						color:#fff;
				}
			}
			
        .autor-nota {
          font-size: .7em;
        span {
          color: @rojoRockNside;
          }
        }
        .spotify-elemento {
    			max-width: 100%;
          height: 350px;
          width: 350px;
        }

        .contenedor-texto {
          font-size: 1.2em;
          text-align: justify;
        .links-contenido {
          img {
   				 	height: auto;
						display: block;
						max-width: 100%;
						margin-left: auto;
            margin-right: auto;
          }
            strong{
              font-weight: bold;
            }
          	a {
              color: @rojoRockNside;
            }
          }
        }
			}
      hr {
        border: 2px @rojoRockNside solid;
      }
        .slider-youtube {
            height: 510px;
            background: #000;
            @media(max-width:767px) {
                height: 310px;
            }
        }
        .section-youtube {
            border-top: 4px @rojoRockNside solid;
            font-family: 'Montserrat',sans-serif;
            h1 {
                text-align: center;
                color: #fff;
                @media(max-width:767px) {
                    font-size: 20px;
                }
            }
            p {
                font-weight: bold;
                font-size: 25px;
                background: #000;
                color: #fff;
                text-align: center;
            }
            .carouseles {
                height: 420px;
                touch-action: pan-y;
                padding-top: 10px;
                padding-bottom: 10px;
                @media(max-width:767px) {
                    height: 220px;
                }
            }
        }

    #footer {
      .iconos-redes-footer{
        text-align: left;
        p{
          margin: 0;
        }
        i{
          background: red;
          border-radius: 32px;
          padding: 4px;
        }
      }
			text-align: center;
        	.footer {
						color: #fff;
						font-size:20px;
						padding-top: 20px;
						padding-bottom: 20px;
						background: black;
						font-family: 'Roboto Condensed', sans-serif;
            a {
                color: #fff;
            }
            .container {
                background: black;
            }
        }
        .imagen-parallax {
            height: 300px;
            z-index: 100;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
