#RockNside {
  .item{
    height:500px;
  }
	#section-noticias{
		text-align: center;
	}
	 .titulos-secciones {
		 	font-family: 'Roboto Condensed', sans-serif;
		  position: absolute;
			text-align: center;
    	color: #fff;
			z-index: 100;
			top:50px;
        h1 {
          font-size: 50px;
        }
			}


	.titulos-index-section{
    h1 {
    font-size:18px;
    color:#fff;
    font-family: 'Fenix', serif;
    text-transform: uppercase;
    font-weight: bold;
      &.negro{
        border-bottom: 3px solid #020101;
        }
      &.rojo{
        border-bottom: 3px solid #E73C33;
      }
      &.verde{
        border-bottom: 3px solid #25A856;
      }
      span{
        padding: 5px 10px 3px 10px;  
        &.negro{
        background: #020101;
        }
        &.rojo{
        background: #E73C33;
        }
        &.verde{
        background: #25A856;
        }
      }
    }
	}
  .letras-header{
    text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
  }

	.categoria-post-home{
		font-family: 'Roboto Condensed', sans-serif;
		position: absolute;
		top:0;
		right: 0;
		background-color: @rojoRockNside ;
		border: 1px solid #000;
		text-transform: uppercase;
		padding: 3px 3px;
		font-weight: bold;
		a{
		color:#fff;
		}
		a:hover{
			color:#000;
			text-decoration-color: yellow;
		}
	}


  #section-slide-inicio{
		font-family: 'Roboto Condensed', sans-serif;
		.owl-nav{
			text-align: center;
			font-size: 20px;
		}
		.titulos-banner{	
      text-align: center;
      background-color: #0000008a;
      background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 79%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(79%, rgba(0,0,0,0.79)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 79%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 79%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 79%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 79%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
      padding: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 120px;
      width: 100%;
      a{
        font-weight: bold;
        font-size: 50px;
        color:#fff;
      }
		}
  }
  .estilo-menu-desplegable{
    text-align: center;
    font-size: 15px;
  }

    .tamano-logo {
        width: 100%;
        max-width: 130px;
    }
    .margen-secciones-interiores {
        margin-top: 70px;
    }
    .crop {
        height:  200px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }

    .imagen-principal {
        height: 150px;
        background-size: cover;
        background-position: center center;
    }
    .text-titulo-notas {
        font-size: 1em;
		}
		.card{
			border:0;
    	border-radius: 0;
		}
    .card-text {
			font-family: 'Roboto Condensed', sans-serif;
			position: absolute;
			bottom: 0;
			text-align: left;
			color: #fff;
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
		a{
			color: #fff;
			text-decoration-color:@rojoRockNside;
		}
		p{
			font-size: 15px;
		}
	}
		
#header{
	background-color: black;
	a{
		color: #fff;
	}
	.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
	}
	.navbar-toggler{
		color: #000;
		border:1px solid #000;
	}
	.nav-item:hover {
		background-color:#ee1d25;
		a{
		color:#fff;

		}
	}
}

#section-header-banner{
    height: 100px;
    background-color: #fff;
    content: '';
		background-size: auto 100%;
		.rocknsidebanner {
    background-position: center center;
		background-repeat: repeat-x;
		background-size: cover;
}
   a{
    color:#000;
   }
}
#carouselExampleIndicators {
  .fondo-largo {
    background-color: #00000085;
    a {
      color: #fff;
      font-size: 20px;
      }
  }
  .carousel-indicators .active {
    background-color: @rojoRockNside;
  }
  .carousel-item {
    height: 500px;
    @media(max-width:767px) {
      height: 230px;
    }
  }
  .title-slider {
    text-align: center;
    position: relative;
    bottom: 250px;
    background: #00000099;
      a {
        color: #fff;
      }
      @media(max-width:767px) {
        bottom: 100px;
      }
  }
}

	.imagen-estilo-singles{
				width: 100%;
			}

    #contenido-post {
			.estilo-titulo-principal{
				margin-top:19px;
				font-weight: bold;
				text-align: center;
        font-family: 'Domine', serif;
			}
			.estilo-titulos-single{
				text-align: center;
				font-weight: bold;
        font-size: 10px;
			}
			.noticias-letrero{
				font-family: 'Roboto Condensed', sans-serif;
				text-transform: uppercase;
				background: #ee1d25;
				padding: 5px;
				color: #fff;
			}
      .videos-youtube {
        iframe {
					top: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					border: 0;
        }
			}
				.estilo-comparte{
          font-size: 15px;
          font-family: 'Domine', serif;
          text-align: left;
          font-weight: bold;
				}
				.tags-estilos{
          font-size: 15px;
          font-family: 'Domine', serif;
          text-align: left;
          font-weight: bold;
          
        .estilo-tags-single {
						background-color:@rojoRockNside;
            border: 3px solid #010101;
            padding: 3px 5px;
            margin-left: 5px;
            line-height: 2.5;
            font-size: 16px;
            color: #000000;
            text-decoration: none;
        }
        .estilo-tags-single:hover {
            background: #000;
						-webkit-transition: background .5s ease-out;
						color:#fff;
				}
			}
			
        .autor-nota {
          font-size: .7em;
        span {
          color: @rojoRockNside;
          }
        }
        .spotify-elemento {
    			max-width: 100%;
          height: 350px;
          width: 350px;
        }

        .contenedor-texto {
          font-size: 1.2em;
          text-align: justify;
        .links-contenido {
          img {
   				 	height: auto;
						display: block;
						max-width: 100%;
						margin-left: auto;
            margin-right: auto;
          }
            strong{
              font-weight: bold;
            }
          	a {
              color: @rojoRockNside;
            }
          }
        }
			}
      hr {
        border: 2px @rojoRockNside solid;
      }
        .slider-youtube {
            height: 510px;
            background: #000;
            @media(max-width:767px) {
                height: 310px;
            }
        }
        .section-youtube {
            border-top: 4px @rojoRockNside solid;
            font-family: 'Montserrat',sans-serif;
            h1 {
                text-align: center;
                color: #fff;
                @media(max-width:767px) {
                    font-size: 20px;
                }
            }
            p {
                font-weight: bold;
                font-size: 25px;
                background: #000;
                color: #fff;
                text-align: center;
            }
            .carouseles {
                height: 420px;
                touch-action: pan-y;
                padding-top: 10px;
                padding-bottom: 10px;
                @media(max-width:767px) {
                    height: 220px;
                }
            }
        }

    #footer {
      .iconos-redes-footer{
        text-align: left;
        p{
          margin: 0;
        }
        i{
          background: red;
          border-radius: 32px;
          padding: 4px;
        }
      }
			text-align: center;
        	.footer {
						color: #fff;
						font-size:20px;
						padding-top: 20px;
						padding-bottom: 20px;
						background: black;
						font-family: 'Roboto Condensed', sans-serif;
            a {
                color: #fff;
            }
            .container {
                background: black;
            }
        }
        .imagen-parallax {
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            z-index: 100;
        }
    }
}
